<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Automotive OS Requirements -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />
        
    <!-- Permissions to launch other activities on secondary displays -->
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.ACTIVITY_EMBEDDING"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS" />
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS" />
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY" />

    <application
        android:allowBackup="true"
        android:label="AAOS Map Test"
        android:supportsRtl="true"
        android:theme="@style/Theme.AAOSMapTest">
        
        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />
            
        <property
             android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_ALLOW_SYSTEM_OVERRIDE"
             android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AAOSMapTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name="androidx.window.area.WindowAreaControllerImpl$WindowAreaProvider"
            android:exported="false">
        </receiver>

    </application>

</manifest>
